* {
    margin: 0;
    padding: 0;
}

#root {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.scene {
    display: block;
    width: 70%;
    height: 80%;
    background-image: url("scene.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    right: 0;
    top: 0;
}

.content-area {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.delivery-table {
    margin: 3%;
    padding: 1%;
    background: white;
    border-radius: 2%;
    overflow-x: hidden;
    font-size: 10%;
    width: 60%;
    height: 80%;
}

.delivery-table::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
    padding-right: 10px;
}

.delivery-table::-webkit-scrollbar-thumb {
    margin-right: 10px;
    background-color: darkgrey;
    outline: none;
    border-radius: 50px;
    padding-right: 10px;
}

.delivery-form {
    margin: 3%;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
}

.delivery-form input {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 80%;
    width: 90%;
    height: 10%;
    border: #ee4d47 solid 2px;
    color: #6d6d6d;
    border-radius: 5px;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.delivery-form button {
    align-self: center;
    font-size: 80%;
    width: 30%;
    height: 10%;
    color: #ffffff;
    border: none;
    background: #ee4d47;
    border-radius: 5px;
    margin: 5%;
}

.item-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.truck {
    display: block;
    height: 35%;
    width: 80%;
    background-image: url("truck.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: absolute;
    left: 0;
    bottom: 0;
}