* {
    margin: 0;
    padding: 0;
}

.main-container {
    /*display: block;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/

    width: 80%;
    /*height: 100%;*/
    /*min-height: 200px;*/
    /*background-image: url("Scene.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
}

.data-container {
    font-family: 'Rubik', SansSerif;
    display: flex;
    flex-flow: row nowrap;
    /*width: 80%;*/
    /*min-height: 200px;*/
    background-image: url("Scene.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
}
table {
    margin: 5%;
    background: white;
    border-radius: 10px;
    /*width: 60%;*/
    font-size: 80%;
    /*min-width: 200px;*/
}

form {
    margin: 5%;
    display: flex;
    flex-flow: column nowrap;
    /*width: 40%;*/
}
form input {
    font-size: 80%;
    width: 90%;
    /*height: 60px;*/
    border: #ee4d47 solid 1px;
    color: #6d6d6d;
    border-radius: 3px;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
form button {
    font-size: 80%;
    width: 30%;
    height: 60px;
    color: #ffffff;
    border: none;
    background: #ee4d47;
    border-radius: 3px;
    margin: 5px;
}
.item-buttons {
    display: flex;
}
.edit-btn, .delete-btn {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50px;
    background: #ee4d47;
}
.truck {
    /*display: flex;*/
    /*min-width: 300px;*/
    /*height: 295px;*/
    /*width: 611px;*/
    /*height: 80%;*/
    /*width: 80%;*/
    /*width: 50%;*/
    /*height: 50%;*/
    /*background-image: url("truck.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
}